h1,a{
    color:white;
}

.baby{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    margin: 1%;
    margin-left: 4%;
}

form{
    margin-left: 4%;
}

Link{
    text-decoration:none;
}